.board {
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 200px;
  height: auto;
  min-height: 100px;
  text-align: center;
  border: 1px solid red;
  gap: 10px;
  background-color: rgb(91, 91, 91);
  color: white;
  margin-top: 15px;
}

.title {
  width: 100%;
  border: none;
  background: none;
  color: white;
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
}

.title:focus {
  border: none;
  outline: none;
}
.description {
  width: 100%;
  border: none;
  background: none;
  color: white;
  text-align: center;
  font-size: 14px;
}

.description:focus {
  border: none;
  outline: none;
}

.button {
  position: static !important;
  height: 120px;
}

.columns {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
}
