.title {
  width: 100%;
  border: none;
  background: none;
  color: rgb(251, 181, 89);
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
}

.title:focus {
  border: none;
  outline: none;
}

.button {
  margin-top: 5px;
  color: white;
  background-color: rgb(91, 91, 91);
  font-style: italic;
  border-radius: 15px;
  transition: 0.3;
  width: 100px;
  height: 30px;
  margin-bottom: 5px;
}

.button:hover {
  color: rgb(246, 6, 6);
  background-color: rgb(11, 12, 1);
}

.tasks {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
