.column {
  width: 180px;
  height: 100%;
}

.title {
  width: 100%;
  border: none;
  background: none;
  color: rgb(251, 181, 89);
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
}

.title:focus {
  border: none;
  outline: none;
}

.h3 {
  font-style: italic;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tasks {
  border: 1px solid black;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
